.flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .motivation {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .motivationBlock {
    padding: 0 16px;
    width: 33%;
    flex: 1;
    
    p {
      padding-bottom: 0;
    }
  }
  
  .icons {
    font-size: 58px;
  }
  
  .loader_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .flexParagraph {
    display: flex;
    margin-top: 40px;
  
    h2 {
      border: 1px solid black;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: block;
      margin: 0 auto 24px;
      line-height: 50px;
    }
  
    p {
      text-align: center;
      display: inline-block;
      width: 100%;
      font-size: 13px;
      padding: 0 16px;
    }
  }
  
  .textCenter {
    text-align: center;
  }
  
  .form {
    display: block;
  }
  
  .form > * {
    margin: 5px;
  }